[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-commas = "*"
mypy = "*"
bpython = "*"
werkzeug = "*"

[packages]
django = "*"
django-environ = "*"
django-extensions = "*"
django-split-settings = "*"
djangorestframework = "*"

[requires]
python_version = "3.8"
